body{ 
    margin: 0px;
    font-family: barlow;
    font-weight: 9px;
    
    background-color:  hsl(217, 54%, 11%);
}


.box{
    width: 150px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    padding-top: 25px;
    background-color: hsl(216, 50%, 16%);
    color: white;
    height: 300px;
}

.mainimage{
    width: 150px;
    border-radius: 5px;
}

h1{
    font-size: 15px;
}
h3{
    font-size: 9px;
    color: grey;
}

.days{
    position: relative;
    left: 100px;
    bottom: 19px;
}
.avatar{
        position: relative;
        bottom: 10px;

}
.avatar img{
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 25px;
    position: relative;
    top: 7px;
    
}

.container{
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 15px;
    column-gap: 15px;
}

.box1{
    height: 150px;
    width: 260px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid none;
    color: white;
    background-color:  hsl(216, 50%, 16%);
}
.mainimage1{
    width: 100px;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 10px;
}

.content{
    width: 150px;
    position: relative;
    left: 130px;
    bottom: 100px;
}

.eth{
    position: relative;
    left: 10px;
    bottom: 70px;

}

.days1{
    position: relative;
    left: 70px;
    bottom: 89px;
}

.avatar1{
    position: relative;
    left: 150px;
    bottom: 106px;
    
}
.avatar1 img{
    border: 1px solid white;
    border-radius: 50%;
}
.container{
    position: relative;
    top: 100px;
}

.container1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    bottom: 580px;
    left: 800px;
}
main{
    position: relative;
    left: 200px;
    
}

